In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
domicilio01 = pd.read_excel("dados_entrada\Tabelas_2000\Convertidas\Domicilio_01_M.xlsx")

In [4]:
resultado = pd.DataFrame({'COD_SETOR': []})

In [5]:
def V01(V011,V002):
    return (((V011/V002)*100))

In [6]:
def V02(V013,V014,V015,V002):
    return (((V013+V014+V015)/V002)*100)

In [7]:
def V03(V019,V020,V021,V022,V002):
    return (((V019+V020+V021+V022)/V002)*100)

In [8]:
def V04(V023,V002):
    return ((V023/V002)*100)

In [9]:
def V05(V038,V039,V040,V041,V042,V002):
    return (((V038+V039+V040+V041+V042)/V002)*100)

In [11]:
def V07(V008,V002):
    return ((V008/V002)*100)

In [12]:
def V08(V054,V055,V056,V057,V058,V059,V002):
    return (((V054+V055+V056+V057+V058+V059)/V002)*100)

In [13]:
resultado['COD_SETOR'] = domicilio01["Cod_setor"]

In [15]:
resultado['V01'] = domicilio01.apply(lambda x: V01(x.V011, x.V002), axis=1)

In [16]:
resultado['V02'] = domicilio01.apply(lambda x: V02(x.V013, x.V014, x.V015, x.V002), axis=1)

In [17]:
resultado['V03'] = domicilio01.apply(lambda x: V03(x.V019, x.V020, x.V021, x.V022, x.V002), axis=1)

In [18]:
resultado['V04'] = domicilio01.apply(lambda x: V04(x.V023, x.V002), axis=1)

In [19]:
resultado['V05'] = domicilio01.apply(lambda x: V05(x.V038, x.V039, x.V040, x.V041, x.V042, x.V002), axis=1)

In [21]:
resultado['V07'] = domicilio01.apply(lambda x: V07(x.V008, x.V002), axis=1)

In [22]:
resultado['V08'] = domicilio01.apply(lambda x: V08(x.V054, x.V055, x.V056, x.V057, x.V058, x.V059, x.V002), axis=1)

In [23]:
resultado.to_excel("dados_saida\Resultado_2000\excel\ResultadoGeral.xlsx",index=False)

In [24]:
resultado.to_csv("dados_saida\Resultado_2000\csv\ResultadoGeral.csv",index=False)

In [25]:
resultado

,COD_SETOR,V01,V02,V03,V04,V05,V07,V08
0,260005405000001,0.000000,1.990050,90.547264,2.487562,15.920398,14.925373,28.855721
1,260005405000002,0.882353,6.470588,90.294118,3.235294,11.176471,15.882353,30.294118
2,260005405000003,0.000000,12.735849,83.962264,4.245283,16.981132,19.811321,32.783019
3,260005405000004,0.666667,3.777778,94.666667,2.222222,16.000000,30.888889,19.777778
4,260005405000005,0.737101,5.159705,96.805897,2.457002,0.737101,23.832924,24.570025
...,...,...,...,...,...,...,...,...
8553,261650605000013,0.000000,69.934641,66.666667,20.915033,31.372549,5.228758,47.058824
8554,261650605000014,0.000000,101.020408,17.346939,81.632653,100.000000,2.040816,48.979592
8555,261650605000015,0.000000,100.000000,66.666667,33.333333,100.000000,0.000000,50.000000
8556,261650605000016,2.702703,147.747748,16.216216,83.783784,100.000000,0.000000,44.144144
8557,261650605000017,0.000000,144.000000,22.000000,77.000000,100.000000,0.000000,36.000000