In [164]:
import pandas as pd

In [165]:
import numpy as np

In [166]:
domicilio01 = pd.read_excel("dados_entrada\Tabelas_2010\Domicilio_01_M.xlsx")

In [167]:
resultado = pd.DataFrame({'COD_SETOR': [] ,'SITUAÇÃO_SETOR' : [] })

In [168]:
def V01(V011,V002):
    return (((V011/V002)*100))

In [169]:
def V02(V013,V014,V015,V002):
    return (((V013+V014+V015)/V002)*100)

In [170]:
def V03(V019,V020,V021,V022,V002):
    return (((V019+V020+V021+V022)/V002)*100)

In [171]:
def V04(V023,V002):
    return ((V023/V002)*100)

In [172]:
def V05(V038,V039,V040,V041,V042,V002):
    return (((V038+V039+V040+V041+V042)/V002)*100)

In [173]:
def V06(V046,V002):
    return ((V046/V002)*100)

In [174]:
def V07(V008,V002):
    return ((V008/V002)*100)

In [175]:
def V08(V054,V055,V056,V057,V058,V059,V002):
    return (((V054+V055+V056+V057+V058+V059)/V002)*100)

In [176]:
resultado['COD_SETOR'] = domicilio01["Cod_setor"]

In [177]:
resultado['SITUAÇÃO_SETOR'] = domicilio01["Situacao_setor"]

In [178]:
resultado['V01'] = domicilio01.apply(lambda x: V01(x.V011, x.V002), axis=1)

In [179]:
resultado['V02'] = domicilio01.apply(lambda x: V02(x.V013, x.V014, x.V015, x.V002), axis=1)

In [180]:
resultado['V03'] = domicilio01.apply(lambda x: V03(x.V019, x.V020, x.V021, x.V022, x.V002), axis=1)

In [181]:
resultado['V04'] = domicilio01.apply(lambda x: V04(x.V023, x.V002), axis=1)

In [182]:
resultado['V05'] = domicilio01.apply(lambda x: V05(x.V038, x.V039, x.V040, x.V041, x.V042, x.V002), axis=1)

In [183]:
resultado['V06'] = domicilio01.apply(lambda x: V06(x.V046, x.V002), axis=1)

In [184]:
resultado['V07'] = domicilio01.apply(lambda x: V07(x.V008, x.V002), axis=1)

In [185]:
resultado['V08'] = domicilio01.apply(lambda x: V08(x.V054, x.V055, x.V056, x.V057, x.V058, x.V059, x.V002), axis=1)

In [186]:
resultado.to_excel("dados_saida\Resultado_2010\excel\ResultadoGeral.xlsx",index=False)

In [187]:
resultado.to_csv("dados_saida\Resultado_2010\csv\ResultadoGeral.csv",index=False)

In [188]:
resultado

,COD_SETOR,SITUAÇÃO_SETOR,V01,V02,V03,V04,V05,V06,V07,V08
0,261160605220010,1,0.000000,0.505051,0.505051,0.000000,0.000000,0.000000,22.727273,17.676768
1,261160605220011,1,0.000000,2.786378,48.297214,0.000000,0.000000,0.000000,29.411765,13.312693
2,261160605220012,1,0.000000,31.395349,16.279070,0.581395,1.162791,0.000000,13.953488,20.930233
3,261160605220013,1,0.000000,0.275482,0.275482,0.826446,0.000000,0.275482,13.223140,24.242424
4,261160605220014,1,0.000000,0.000000,2.144772,0.000000,0.268097,0.536193,26.005362,22.520107
5,261160605220015,1,0.964630,5.466238,0.964630,0.000000,0.000000,0.000000,13.826367,28.295820
6,261160605220016,1,0.000000,3.414634,88.780488,2.439024,0.000000,0.000000,18.048780,27.804878
7,261160605220017,1,0.000000,0.000000,0.000000,1.960784,0.000000,0.000000,22.549020,21.078431
8,261160605220018,1,2.243590,0.641026,4.166667,0.320513,0.000000,0.320513,26.602564,18.589744
9,261160605220019,1,0.000000,2.475248,0.000000,0.000000,0.000000,0.000000,31.683168,20.297030
10,261160605220020,1,0.000000,2.460850,16.778523,0.671141,0.000000,0.894855,19.463087,19.686801
11,261160605220021,1,0.000000,2.244389,3.990025,0.000000,0.000000,0.000000,28.428928,18.703242
12,261160605220022,1,0.000000,1.047120,0.000000,0.000000,0.000000,0.000000,20.942408,18.324607
13,261160605220023,1,0.000000,0.000000,52.702703,0.270270,0.000000,0.000000,24.594595,16.756757
14,261160605220024,1,0.000000,4.929577,37.793427,1.173709,5.164319,0.000000,24.413146,18.309859
15,261160605220025,1,0.000000,0.000000,40.452261,0.000000,0.000000,0.000000,16.582915,15.075377
16,261160605220026,1,1.714286,2.000000,4.000000,0.285714,0.000000,0.000000,19.428571,18.285714
17,261160605220027,1,0.000000,0.000000,1.171875,0.000000,0.000000,0.000000,30.078125,16.406250
18,261160605220028,1,0.000000,0.000000,7.037037,0.000000,0.000000,0.000000,15.925926,19.259259
19,261160605220029,1,0.000000,0.349650,2.097902,0.000000,0.000000,0.000000,22.027972,17.482517