In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
responsavelrenda = pd.read_excel("dados_entrada\Tabelas_2000\Convertidas\ResponsavelRenda_PE_M.xlsx")

In [4]:
responsavel02 = pd.read_excel("dados_entrada\Tabelas_2000\Convertidas\Responsavel02_PE_M.xlsx",index=False)

In [5]:
variaveis02 = pd.DataFrame({'V001_02': responsavel02['V001']})

In [6]:
responsavelrenda = pd.concat([responsavelrenda, variaveis02], axis=1)

In [7]:
def V21(V076,V001):
    return ((V076/V001)*100)

In [8]:
def V22(V067,V068,V069,V070,V001):
    return (((V067+V068+V069+V070)/V001)*100)

In [9]:
resultado = pd.read_excel("dados_saida\Resultado_2000\excel\ResultadoGeral.xlsx",index=False)

In [10]:
resultado['V21'] = responsavelrenda.apply(lambda x: V21(x.V076,x.V001_02), axis=1)

In [11]:
resultado['V22'] = responsavelrenda.apply(lambda x: V22(x.V067,x.V068,x.V069,x.V070,x.V001_02), axis=1)

In [12]:
resultado = resultado.sort_index(axis=1)

In [13]:
resultado.to_excel("dados_saida\Resultado_2000\excel\ResultadoGeral.xlsx",index=False)

In [14]:
resultado.to_csv("dados_saida\Resultado_2000\csv\ResultadoGeral.csv",index=False)

In [15]:
resultado

,Cod_setor,V001,V002,V003,V004,V005,V006,V007,V008,V009,...,V114,V115,V116,V117,V118,V119,V12,V15,V21,V22
0,260005405000001,201.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,11.442786,0.662252,16.417910,13582.587065
1,260005405000002,340.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,7.941176,0.350877,9.117647,13961.176471
2,260005405000003,424.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,6.603774,0.295858,14.386792,NaN
3,260005405000004,450.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,9.333333,0.265252,12.444444,NaN
4,260005405000005,407.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,7.371007,0.337838,14.250614,15570.761671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,261650605000013,153.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,6.535948,1.428571,13.071895,NaN
8554,261650605000014,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.020408,4.000000,4.081633,NaN
8555,261650605000015,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.263158,52.380952,8797.619048
8556,261650605000016,111.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.702703,2.857143,7.207207,NaN
8557,261650605000017,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.000000,3.846154,38.000000,NaN